*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
h1{
    background-color: #081b31;
    color: #ffff;
    height: 5rem;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.choice:hover{
    opacity: 50%;
    background-color: rgb(0, 0, 0);
}

.choices{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
   
  
}
.choice{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 4rem;
    font-size: 2rem;
}
.socre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#user-score, #comp-score {
    font-size: 5rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    background-color: rgb(40, 114, 211);
    color: white;
    padding: 1rem;
    font-size: 2rem;
    display: inline;
    border-radius: 0.5rem;
}